@import "~reset-css/less/reset.less";
@import "../fonts/stylesheet.css";
@import "swiper.css";

@font-face {font-family: "revicons"; src: url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.eot"); src: url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.svg#revicons") format("svg"); }

*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	font-family: "Gilroy";
	color: #333333;
}
a{
	text-decoration: none;
	color: inherit;
}
.bold{
	font-weight: bold;
}
.container{
	margin: 0 auto;
	padding: 0 0 30px 0;
	width: 81.3%;
	@media(max-width: 700px){
		&{
			width: 90%;
		}
	}
}

section{
	background: #fff;
	margin-top: 25px;
	border: 1px solid #56605E;
	border-radius: 8px;
}

#header{
	display: flex;
  padding: 50px;
  background: linear-gradient(45deg, rgba(238,207,186,.2), rgba(197,221,232,.2));
	.avatar{
		width: 150px;
		height: 200px;
		margin-right: 50px;
	}
	.info{
		overflow: hidden;
		padding: 25px 0 0 0;
		.name{
			margin-bottom: 15px;
			font-weight: bold;
		}
		.skill{
			width: 100px;
			height: 50px;
		}
		ul{
			li{
				margin-bottom: 15px;
				.item{
					display: flex;
					align-items: center;
				}
				.skills{
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					li{
						display: flex;
						align-items: center;
						margin-right: 15px;
					}
				}
			}
			.github-link{
				margin-top:25px;
				a{
					color:blue;
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
	@media(max-width: 960px){
		&{
			flex-wrap: wrap;
      justify-content: center;
      
		}
  }
  @media(max-width: 768px){
    &{
      padding:15px 20px;
      .avatar{
        margin-right: 0;
      }
    }
  }
}

#portfolio{
  background: linear-gradient(45deg, rgba(238,207,186,0.2), rgba(197,221,232,0.2));
	padding: 25px;
	h1{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.items{
		padding-top: 20px;
		.item{
			display: block;
			height: 275px;
			position: relative;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 30px;
			background-color: #eff7ff;
			background-image:  url(../img/dark.svg), url(../img/ligth.svg);	
			background-repeat: no-repeat;
			background-position: right bottom, right bottom;
			background-size: 50% 50%, 70% 70%;
			span{
				display: inline-block;
    			background: #fff;
    			text-align: center;
    			font-weight: 400;
   			    font-size: 14px;
    			line-height: 16px;
    			padding: 6px;
   			    margin: 0 8px 8px 0;
   			    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);			
			}
			p{
				font-weight: bold;
			}
			.box{
				background: #3454f5 url(../img/arrow-right.svg) center/contain no-repeat;
				width: 15px;
   			height: 15px;
				position: absolute;
				left: 0;
				bottom: 0;
				opacity: 0.75;
			}
		}
  }
  @media(max-width:414px){
    &{
      padding:15px 0;
      .items{
        padding:20px 10px 0 10px;
      }
    }
  }
  @media(max-width:375px){
    &{
      span{
        font-size: 10px!important;
      }
    }
  }
}

.footer {
  background: linear-gradient(45deg, rgba(238,207,186,.2), rgba(197,221,232,.2));
	padding: 10px 15px;
	h1{
		font-size: 20px;
		color: #000;
		margin-bottom: 10px;
	}
	div{
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		svg{
			margin-right: 15px;
		}
  }
  #phone{
    svg{
      fill: green;
    }
  }
  #skype{
    svg{
      fill: #00a5e2;
    }
  }
}
@media(max-width: 414px) {
	.item{
		padding: 10px 5px!important;
	}
}