.items{position:relative;overflow:hidden;padding:0;z-index:1;}
.swiper-wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box;}
.swiper-slide{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:auto;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;}
.swiper-slide:hover .git-link{display: inline-block;}
.item{padding:0 5px;text-align:center;position:relative}
.item:hover{box-shadow: 0 2px 15px rgba(0,0,0,.15)}
.git-link{cursor:pointer;position:absolute;top:3px;right:10px;display:none;z-index:10;border-radius: 5px;background-color: #fff;padding: 5px;}
.arrows{border:none;outline:none;position: absolute;top: calc(50% - 20px);cursor: pointer;background: rgba(0,0,0,1);width: 40px;height: 40px;z-index: 100;border-radius: 50%;color:#fff;display: flex;justify-content: center;align-items: center;}
.swiper-prev{left:0}
.swiper-next{right:0}
.swiper-prev:hover,
.swiper-next:hover{background: #000}
.swiper-prev:before{content: "\e82c";font-family: revicons;margin-left: -3px}
.swiper-next:before{content: "\e82d";;font-family: revicons;margin-right: -3px}
.swiper-button-disabled{opacity: 0.4;}
.slider-dots{display:flex;display:-moz-flex;display:-webkit-flex;display:-o-flex;display:-ms-flex;justify-content:center;-webkit-justify-content:center;margin-top:10px;}
.swiper-pagination-bullet{border:solid 1px #19addd;width:12px;height:12px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin:0 2px;cursor:pointer;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{border-color:#023f5d;background:#023f5d;}
.swiper-pagination-bullets.swiper-pagination-lock{display:none}